:root {
    --light-grey: #FAFAFA;
    --mid-grey: #ECECEC;
    --dark-grey: #353d47;
    --wellington-blue: #a6d6c9;
    --wellington-blue-trans: rgba(166, 214, 201,0.6);
    --wellington-orange: #f49712;
    --wellington-orange-trans: rgba(244, 151, 18, 0.6);
    --wellington-gold: #f7d117;
    --header-height: 60px;
    --dropdown-width: 200px;
    --sidebar-width-large: 250px;
    --header-button-width: 80px;
    --sidebar-options: 3;
    --dropdown-options: 2;
    --fixed-cols: 3;
    --fixed-col-width: 100px;
    --chart-options-row-height: 40px;
}

/* Core Set Up */
body {
    background: var(--mid-grey);
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-grey);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    background: var(--light-grey);
    position: fixed;
    top: 0px;
    left: var(--header-height);
    width: 100%;
    height: var(--header-height);
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    /*transition: background 0.5s;*/
}

.dropdown {
    position: fixed;
    top: 0px;
    right: 0px;
    height: var(--header-height);
    width: var(--header-button-width);
    transition: height 0s, width 0.35s linear; /* Top transition in */
    cursor: pointer;
    font-weight: 300;
}

.dropdown span {
    display: block;
    position: absolute;
    height: var(--header-height);
    line-height: var(--header-height);
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.dropdown span.short_name {
    opacity: 1;
    transition: 0.4s 0.15s;
    font-size: 28px;
}

.dropdown span.long_name {
    opacity: 0;
    transition: 0.4s;
}

.dropdown_content a {
    height: var(--header-height);
    line-height: var(--header-height);
    display: block;
    width: auto;
    text-align: center;
    width: var(--dropdown-width);
    margin: 0 10px;
    font-size: 20px;
    color: var(--dark-grey);
    text-decoration: none;
    transition: 0.3s;
}

.dropdown_content a:hover {
    color: var(--wellington-orange);
}

.dropdown_content {
    background: var(--light-grey);
    display: block;
    position: fixed;
    top: var(--header-height);
    right: calc(var(--dropdown-width) * -1 - 20px);
    width: calc(var(--dropdown-width) + 20px);
    height: calc(var(--header-height) * var(--dropdown-options));
    transition: height 0s 0.55s, right 0.55s linear; /* Content transition in */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.dropdown:hover {
    width: calc(var(--dropdown-width) + 20px);
    height: calc(var(--header-height) * (var(--dropdown-options) + 1));
    transition: height 0s, width 0.35s linear 0.2s; /* Top transition out */
}

.dropdown:hover .dropdown_content {
    right: 0px;
    transition: height 0s, right 0.55s linear; /* Content transition out */
}

.dropdown:hover span.short_name {
    opacity: 0;
    transition: 0.4s;
}

.dropdown:hover span.long_name {
    opacity: 1;
    transition: 0.4s 0.15s;
}

.phone_menu {
    display: none;
}

/* Side Bar */

.sidebar {
    background: var(--dark-grey);
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--header-height);
    height: 100%;
    z-index: 1001;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    text-decoration: none;
    height: var(--header-height);
    width: 100%;
    padding: 0;
    display: block;
}

.sidebar a h2 {
    display: none;
    float: left;
    line-height: var(--header-height);
    padding: 0;
    margin: 0;
    color: var(--light-grey);
    width: calc(100% - 60px);
    transition: 0.3s;
}

.sidebar a .sidebar_image {
    width: calc(var(--header-height) - 20px);
    height: calc(var(--header-height) - 20px);
    display: inline-block;
    float: left;
    margin: 10px;
    transition: 0.3s;
    background-image: url('../branding/menu_grey.svg');
    background-size: contain;
}

.sidebar a.active .sidebar_image {
    background-image: url('../branding/menu_gold.svg');
}

.sidebar a.active h2 {
    color: var(--wellington-gold);
}

.sidebar:hover {
    width: var(--sidebar-width-large);
}

.sidebar:hover a h2 {
    display: inline-block;
}

.sidebar a:hover h2 {
    color: var(--wellington-orange);
}

.sidebar a:hover .sidebar_image {
    background-image: url('../branding/menu_orange.svg');
}

/* Main Content */

.main_content{
    width: calc(100% - 60px);
    margin-left: var(--header-height);
    margin-top: var(--header-height);
    height: auto;
    z-index: 1;
    display: inline-block;
    transition: margin-left .5s, margin-top 0.5s;
}

/* Tablets */
@media only screen and (max-width: 768px) {

}

/* Phones */
@media only screen and (max-width: 600px) {
    .header {
        left: 0px;
        transition: 0.5s;
    }

    .phone_menu {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        height: calc(var(--header-height) - 20px);
        width: calc(var(--header-height) - 20px);
        margin: 10px 20px;
        cursor: pointer;
        background-image: url('../branding/menu_dark_grey.svg');
        background-size: contain;
        z-index: 1002;
    }

    .dropdown {
        transition: none;
    }

    .dropdown_content {
        display: none;
        top: var(--header-height);
        left: 0px;
        width: 100%;
        height: calc(var(--header-height) * var(--dropdown-options));
    }

    .dropdown_content a {
        width: 100%;
        font-size: 26px;
        margin: 0;
    }

    .dropdown:hover {
        width: var(--header-button-width);
        height: var(--header-height);
        transition: none;
    }

    .dropdown:hover span.short_name {
        opacity: 1;
    }

    .dropdown:hover span.long_name {
        opacity: 0;
    }

    .sidebar {
        display: none;
        top: var(--header-height);
        width: 100%;
        height: calc(var(--header-height) * var(--sidebar-options));
        transition: none;
    }

    .sidebar:hover {
        width: 100%;
    }

    .sidebar .top, .sidebar a .sidebar_image {
        display: none;
    }

    .sidebar a h2 {
        display: block;
        text-align: center;
        width: 100%;
    }

    .sidebar a:hover h2 {
        color: var(--light-grey);
    }

    .sidebar a.active:hover h2 {
        color: var(--wellington-gold);
    }

    .main_content{
        width: 100%;
        margin-left: 0px;
    }

    .main_content.sidebar_show {
        margin-top: calc(var(--header-height) * (var(--sidebar-options) + 1));
    }

    .main_content.dropdown_show {
        margin-top: calc(var(--header-height) * (var(--dropdown-options) + 1));
    }

    .header.sidebar_show {
        background: var(--dark-grey);
        box-shadow: none;
    }

    .header.dropdown_show {
        background: var(--light-grey);
        box-shadow: none;
    }

    .header.sidebar_show .phone_menu {
        background-image: url('../branding/menu_orange.svg');
    }

    .header.sidebar_show .dropdown span {
        color: var(--light-grey);
    }

    .header.dropdown_show .dropdown span {
        color: var(--wellington-orange);
    }
}

/* Main content sections */
.top_buttons {
    display: inline-block;
    float: left;
    width: calc(100% - 40px);
    margin: 10px 20px 0 20px;
    height: 30px;
    background: transparent;
}

.top_buttons > .button {
    display: inline-block;
    float: left;
    width: auto;
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: var(--light-grey);
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.top_buttons > .button:hover {
    background-color: var(--wellington-blue);
}

.top_buttons > .button.right {
    float: right;
}

.top_buttons > .button.double {
    border-radius: 2px 0 0 2px;
}

.top_buttons > .button.double_right {
    border-radius: 0 2px 2px 0;
    border-left: 1px solid var(--dark-grey);
}

.top_buttons > .button > .button_logo {
    display: inline-block;
    float: left;
    height: 18px;
    width: 18px;
    margin: 6px;
    background-image: url('../branding/back_arrow_grey.svg');
    background-size: contain;
}

.top_buttons > .button > .button_logo.right {
    transform: scaleX(-1);
}

.top_buttons > .button > span{
    display: inline-block;
    float: left;
    height: 30px;
}


.primary_section {
    display: inline-block;
    float: left;
    width: calc(100% - 40px);
    margin: 20px;
    height: auto;
    background: var(--light-grey);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.primary_section_title{
    display: inline-block;
    float: left;
    width: calc(100% - 20px);
    margin: 5px 10px;
    height: 40px;
    user-select: none;
}

.primary_section_buttons {
    display: inline-block;
    float: left;
    width: calc(100% - 22px);
    margin: 5px 10px;
    border: 1px solid var(--wellington-blue);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.primary_section.orange > .primary_section_buttons {
    border: 1px solid var(--wellington-orange);
}

.primary_section_buttons.small {
    height: 25px;
    line-height: 25px;
}

.primary_section_buttons.large {
    height: 35px;
    line-height: 35px;
}

.primary_section_button {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    width: calc(20% - 10.8px);
    border-right: 1px solid var(--wellington-blue);
    user-select: none;
    text-align: center;
    cursor: pointer;
    background: transparent;
    transition: 0.5s;
}

.primary_section_button.last, .primary_section.orange > .primary_section_buttons > .primary_section_button.last {
    border-right: none;
}

.primary_section.orange > .primary_section_buttons > .primary_section_button {
    border-right: 1px solid var(--wellington-orange);
}

.primary_section.orange > .primary_section_buttons > .primary_section_button.active {
    background: var(--wellington-orange);
}

.primary_section_button:hover {
    background: var(--mid-grey);
}

.primary_section_button.active {
    background: var(--wellington-blue);
}

.primary_section_main {
    display: inline-block;
    float: left;
    width: calc(100% - 22px);
    margin: 5px 10px;
    min-height: 100px;
    border: 1px solid var(--wellington-blue);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.primary_section.orange > .primary_section_main {
    border: 1px solid var(--wellington-orange);
}

.primary_section > .top {
    margin-top: 15px;
}

.primary_section > .bottom {
    margin-bottom: 15px;
}

.primary_section_table, .primary_section_chart {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.primary_section_table > .row {
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    width: 100%;
    transition: 0.5s;
}

.primary_section_table > .header_row {
    background: var(--wellington-blue);
    color: var(--dark-grey);
}

.primary_section.orange > .primary_section_main > .primary_section_table > .header_row {
    background: var(--wellington-orange);
}

.primary_section_table > .content_row.even {
    background: var(--light-grey);
}

.primary_section_table > .content_row.odd {
    background: var(--mid-grey);
}

.primary_section_table > .content_row:hover {
    background: var(--wellington-blue-trans);
    cursor: pointer;
}

.primary_section.orange > .primary_section_main > .primary_section_table > .content_row:hover {
    background: var(--wellington-orange-trans);
}

.primary_section_table > .row > .col {
    display: inline-block;
    float: left;
    margin: 0;
    height: 35px;
    padding: 0 5px;
    text-align: center;
}

.primary_section_table > .row > .col.left {
    text-align: left;
}

.primary_section_table > .row > .fixed_col {
    width: calc(var(--fixed-col-width) - 10px);
}

.primary_section_table > .row > .fill_col {
    width: calc(100% - (var(--fixed-col-width) * var(--fixed-cols)) - 10px);
}

.primary_section_chart_chart {
    display: inline-block;
    float: left;
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.primary_section_chart_chart > canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.primary_section_chart_options {
    display: inline-block;
    float: left;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.primary_section_chart_option {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0;
    height: var(--chart-options-row-height);
    line-height: var(--chart-options-row-height);
    cursor: pointer;
    transition: 0.5s;
}

.primary_section_chart_option > span {
    user-select: none;
}

.primary_section_chart_option_check {
    display: inline-block;
    float: left;
    width: var(--chart-options-row-height);
    height: var(--chart-options-row-height);
    margin-right: 5px;
}

/* Hide the browser's default checkbox */
input.primary_section_chart_option_check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.primary_section_chart_option > .checkmark {
  display: inline-block;
  float: left;
  height: calc(var(--chart-options-row-height) - 16px);
  width: calc(var(--chart-options-row-height) - 16px);
  background-color: var(--mid-grey);
  border-radius:3px;
  margin: 8px;
}

/* On mouse-over, add a grey background color */
input.primary_section_chart_option_check:hover ~ .checkmark {
  background-color: var(--wellington-orange-trans);
}

/* When the checkbox is checked, add a blue background */
input.primary_section_chart_option_check:checked ~ .checkmark {
  background-color: var(--wellington-orange);
}

/* Create the checkmark/indicator (hidden when not checked) */
.primary_section_chart_option > .checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the checkmark when checked */
input.primary_section_chart_option_check:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.primary_section_chart_option > .checkmark:after {
  left: 9px;
  top: -9px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
