:root {
    --light-grey: #FAFAFA;
    --mid-grey: #ECECEC;
    --dark-grey: #353d47;
    --wellington-blue: #a6d6c9;
    --wellington-orange: #f49712;
    --wellington-gold: #f7d117;
    --header-height: 60px;
    --dropdown-width: 200px;
    --sidebar-width-large: 250px;
    --header-button-width: 80px;
    --sidebar-options: 3;
    --dropdown-options: 2;
}

/* Core Set Up */
body {
    background: var(--mid-grey);
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-grey);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 300;
}

h2 {
    font-size: 25px;
    font-weight: 300;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

h4 {
    font-size: 16px;
    font-weight: 300;
}

p {
    font-size: 14px;
    font-weight: 400;
}

/* Header */

.header {
    background: var(--light-grey);
    position: fixed;
    top: 0px;
    left: var(--header-height);
    width: 100%;
    height: var(--header-height);
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    /*transition: background 0.5s;*/
}

.dropdown {
    position: fixed;
    top: 0px;
    right: 0px;
    height: var(--header-height);
    width: var(--header-button-width);
    transition: height 0s, width 0.35s linear; /* Top transition in */
    cursor: pointer;
    font-weight: 300;
}

.dropdown span {
    display: block;
    position: absolute;
    height: var(--header-height);
    line-height: var(--header-height);
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.dropdown span.short_name {
    opacity: 1;
    transition: 0.4s 0.15s;
    font-size: 28px;
}

.dropdown span.long_name {
    opacity: 0;
    transition: 0.4s;
}

.dropdown_content a {
    height: var(--header-height);
    line-height: var(--header-height);
    display: block;
    width: auto;
    text-align: center;
    width: var(--dropdown-width);
    margin: 0 10px;
    font-size: 20px;
    color: var(--dark-grey);
    text-decoration: none;
    transition: 0.3s;
}

.dropdown_content a:hover {
    color: var(--wellington-orange);
}

.dropdown_content {
    background: var(--light-grey);
    display: block;
    position: fixed;
    top: var(--header-height);
    right: calc(var(--dropdown-width) * -1 - 20px);
    width: calc(var(--dropdown-width) + 20px);
    height: calc(var(--header-height) * var(--dropdown-options));
    transition: height 0s 0.55s, right 0.55s linear; /* Content transition in */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.dropdown:hover {
    width: calc(var(--dropdown-width) + 20px);
    height: calc(var(--header-height) * (var(--dropdown-options) + 1));
    transition: height 0s, width 0.35s linear 0.2s; /* Top transition out */
}

.dropdown:hover .dropdown_content {
    right: 0px;
    transition: height 0s, right 0.55s linear; /* Content transition out */
}

.dropdown:hover span.short_name {
    opacity: 0;
    transition: 0.4s;
}

.dropdown:hover span.long_name {
    opacity: 1;
    transition: 0.4s 0.15s;
}

.phone_menu {
    display: none;
}

/* Side Bar */

.sidebar {
    background: var(--dark-grey);
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--header-height);
    height: 100%;
    z-index: 1001;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    text-decoration: none;
    height: calc(var(--header-height) - 20px);
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}

.sidebar a h2 {
    display: none;
    float: left;
    line-height: calc(var(--header-height) - 20px);
    padding: 0;
    margin: 0;
    color: var(--light-grey);
    width: calc(100% - 60px);
    transition: 0.3s;
}

.sidebar a .sidebar_image {
    width: calc(var(--header-height) - 20px);
    height: calc(var(--header-height) - 20px);
    display: inline-block;
    float: left;
    margin: 0 10px;
    transition: 0.3s;
    background-image: url('../branding/menu_grey.svg');
    background-size: contain;
}

.sidebar a.active .sidebar_image {
    background-image: url('../branding/menu_gold.svg');
}

.sidebar a.active h2 {
    color: var(--wellington-gold);
}

.sidebar:hover {
    width: var(--sidebar-width-large);
}

.sidebar:hover a h2 {
    display: inline-block;
}

.sidebar a:hover h2 {
    color: var(--wellington-orange);
}

.sidebar a:hover .sidebar_image {
    background-image: url('../branding/menu_orange.svg');
}

/* Main Content */

.main_content{
    width: calc(100% - 60px);
    margin-left: var(--header-height);
    margin-top: var(--header-height);
    height: auto;
    z-index: 1;
    display: inline-block;
    transition: margin-left .5s, margin-top 0.5s;
}

/* Tablets */
@media only screen and (max-width: 768px) {

}

/* Phones */
@media only screen and (max-width: 600px) {
    .header {
        left: 0px;
        transition: 0.5s;
    }

    .phone_menu {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        height: calc(var(--header-height) - 20px);
        width: calc(var(--header-height) - 20px);
        margin: 10px 20px;
        cursor: pointer;
        background-image: url('../branding/menu_dark_grey.svg');
        background-size: contain;
        z-index: 1002;
    }

    .dropdown {
        transition: none;
    }

    .dropdown_content {
        display: none;
        top: var(--header-height);
        left: 0px;
        width: 100%;
        height: calc(var(--header-height) * var(--dropdown-options));
    }

    .dropdown_content a {
        width: 100%;
        font-size: 26px;
    }

    .dropdown:hover {
        width: var(--header-button-width);
        height: var(--header-height);
        transition: none;
    }

    .dropdown:hover span.short_name {
        opacity: 1;
    }

    .dropdown:hover span.long_name {
        opacity: 0;
    }

    .sidebar {
        display: none;
        top: var(--header-height);
        width: 100%;
        height: calc(var(--header-height) * var(--sidebar-options));
        transition: none;
    }

    .sidebar:hover {
        width: 100%;
    }

    .sidebar .top, .sidebar a .sidebar_image {
        display: none;
    }

    .sidebar a h2 {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .sidebar a:hover h2 {
        color: var(--light-grey);
    }

    .sidebar a.active:hover h2 {
        color: var(--wellington-gold);
    }

    .main_content{
        width: 100%;
        margin-left: 0px;
    }

    .main_content.sidebar_show {
        margin-top: calc(var(--header-height) * (var(--sidebar-options) + 1));
    }

    .main_content.dropdown_show {
        margin-top: calc(var(--header-height) * (var(--dropdown-options) + 1));
    }

    .header.sidebar_show {
        background: var(--dark-grey);
        box-shadow: none;
    }

    .header.dropdown_show {
        background: var(--light-grey);
        box-shadow: none;
    }

    .header.sidebar_show .phone_menu {
        background-image: url('../branding/menu_orange.svg');
    }

    .header.sidebar_show .dropdown span {
        color: var(--light-grey);
    }

    .header.dropdown_show .dropdown span {
        color: var(--wellington-orange);
    }
}
