.top_buttons > .button:hover {
    background-color: var(--wellington-orange);
}

.primary_section.tracker {
    margin-top: 10px;
}

#student_tabs {
    display: none;
}

#student_tabs > .primary_section_button {
    width: calc(50% - 10.5px);
}
